<nav class="navbar bg-dark fixed-bottom justify-content-center">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-white footer-color" href = "https://www.linkedin.com/in/matthew-jenkins-590b59171/" target="_blank">LinkedIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white footer-color" href = "https://github.com/MattJ270?tab=repositories" target="_blank">GitHub</a>
        </li>
    </ul>
</nav>