<nav class="navbar fixed-bottom justify-content-center" style="background-color:#161515;">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-white" onclick="location.href = 'https://www.linkedin.com/in/matthew-jenkins-590b59171/';" style="background-color:#0079e3;">LinkedIn</a>
        </li>
    </ul>
</nav>