<nav class="navbar justify-content-end" style="background-color:#161515;">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link text-white" href="/" style="background-color:#fc9223;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/AboutMe/AboutMe" style="background-color:#fc9223;">About Me</a>
        </li>
    </ul>
</nav>