
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <img src="~/Personal/Images/download (2).png" class="rounded-circle" alt="Circle image">
    </div>
 </div>

<div class="container">
    <div class="row justify-content-center">
        <div class="jumbotron" style="background-color:#878787;">
            <h1 class="display-4">About Me</h1>
            <hr class="my-3" />
            <p class="lead">
                I'm currently a student at ECTC and planning on transferring to WKU in the Fall of 2019 to complete my Bacherlor's
                degree in CIT.  I am working as a fullstack software developer intern at Waystar for the Summer.  My hobbies include basketball, computer gaming, and miniature painting.
            </p>
        </div>
    </div>
</div>