
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron vertical-center text-center" style="background-color:#878787;">
    <div class="container-fluid">
        <h1 class="display-4">Have a question?</h1>
        <p class="lead">Contact Me</p>
        <hr class="my-3" /> 
        <a href="mailto: matthewrjenkins99@gmail.com" class="btn btn-dark btn-lg">Email Me</a>
    </div>
</div>
