@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div class="jumbotron vertical-center text-center" style="background-color:#878787;">
        <div class="container">
            <h1 class="display-3">Hello!</h1>
            <p class="lead">I am Matthew Jenkins, a fullstack software developer.</p>
            <hr class="my-3" />
            <p class="lead d-none d-lg-block">
                <a href="/Home/GetResume" target="_blank" class="btn btn-dark btn-lg">Resume</a>
            </p>
            <p class="lead d-lg-none">
                <a href="/Home/DownloadResume" target="_blank" class="btn btn-dark btn-lg">Download Resume</a>
            </p>
        </div>
    </div>
</body>
</html>
@section pagescripts{
@Scripts.Render("~/bundles/download")
<script>
    (function (download) {
        $(function () {
            download.onReady();
        });
    })(download);
</script>
    }
