
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-3">
    <div class="row no-gutters noflex">
        <div class="alert alert-dark marginremove text-center">
            <strong>Error @Response.StatusCode @Response.StatusDescription</strong>
            If you are on a tablet or larger enjoy a game while you are here!
        </div>
    </div>
    <div class="embed-responsive embed-responsive-1by1 d-none d-md-block">
        <iframe class="embed-responsive-item" src="https://www.silvergames.com/en/2048/iframe"></iframe>
    </div>
</div>



